[Unit]
Description=pi registrar client update
ConditionPathExists=/etc/pi-registrar/client/config.ini

[Service]
User=pi-registrar
Group=pi-registrar
Type=simple
EnvironmentFile=/etc/pi-registrar/client/config.ini
ExecStart=/usr/bin/pi_registrar_client --endpoint ${ENDPOINT} --certificate ${CERTIFICATE} $CLIENT_ARGS
