[Unit]
Description=pi registrar server
After=network-online.target
Wants=network-online.target

[Service]
User=pi-registrar
Group=pi-registrar
Environment=PI_REGISTRAR_CONFIG=/etc/pi-registrar/server/config.yaml
Environment=PI_REGISTRAR_DB=/var/lib/pi-registrar/hostreg.db
ExecStart=/usr/bin/pi_registrar_server
Restart=on-failure

[Install]
WantedBy=multi-user.target
