[Unit]
Description=pi registrar client update

[Service]
Type=simple
ConditionPathExists=/etc/pi-registrar/client/client.conf
EnvironmentFile=/etc/pi-registrar/client/client.conf
ExecStart=/usr/bin/pi_registrar_client --endpoint ${ENDPOINT} --certificate ${CERTIFICATE} ${CLIENT_ARGS}
