[Unit]
Description=periodic pi registrar client update

[Timer]
OnBootSec=1min
OnCalendar=*-*-* *:00:00
AccuracySec=1us
Unit=pi-registrar-client.service

[Install]
WantedBy=timers.target
